body{
    background: grey;
    color: white;
}
h1 {
    background: red;
    color: blue;
}
p {
    background: green;
    color: aqua;
}
ul {
    background: blue;
    color: yellow;
}
p2 {
    background: whitesmoke;
    color: brown;
}
ol {
    background: chartreuse;
    color: black;
}
p3 {
    background: cornflowerblue;
    color: indigo;
}